<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Post</title>
</head>
<body>
<div th:width="200">
    <img th:src="@{/post/getImage(picUrl=${post.picUrl})}" alt=""><br>
    <p th:text="Title +':&nbsp;&nbsp; ' + ${post.title}"></p>
    <p th:text="Text +':&nbsp;&nbsp;' + ${post.text}"></p>
    <p th:text="Data + ':&nbsp;&nbsp;' + ${post.date}"></p>
    Category: <p th:each="category :${post.categories}" th:text="${category.name}"></p>
</div>
<br>
<a href="/">HOME</a>

</body>
</html>